<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
     <menu>
          <add id="Lreifs_Multiquotes::main" title="LREIFS" module="Lreifs_Multiquotes" sortOrder="10" resource="Lreifs_Multiquotes::main"/>
          <add id="Lreifs_Multiquotes::immutable_quotes" title="Immutable Quotes" module="Lreifs_Multiquotes" sortOrder="15" parent="Lreifs_Multiquotes::main" action="multiquotes/immutable/index" resource="Lreifs_Multiquotes::immutable_quotes"/>
          <add id="Lreifs_Multiquotes::api_docs" title="API Documentation" module="Lreifs_Multiquotes" sortOrder="20" parent="Lreifs_Multiquotes::main" action="multiquotes/api/documentation" resource="Lreifs_Multiquotes::api_docs"/>
          <add id="Lreifs_Multiquotes::configuration" title="Configuration" module="Lreifs_Multiquotes" sortOrder="30" parent="Lreifs_Multiquotes::main" action="adminhtml/system_config/edit/section/multiquotes" resource="Lreifs_Multiquotes::configuration"/>
     </menu>
</config>